.produtos {
    background-color: #424250;
    color: white;
}

.produtos-moda {
    background-color: #BB86FC;
    color: white;
}

.produtos-casa {
    background-color: #00C4B4;
    color: white;
}
